

body{
  color: rgba(30, 85, 179, 1);
  margin: auto;
  background-image: url(../image/wall.jpg);
  background-size: cover;
}

.legendarybox{
  height: 270px;
  width: 545px;
  margin: auto;
  padding-bottom: 50px;
  background-image: url(../image/legendary.png);
  background-repeat: no-repeat;

}

.title{
  text-align: center;
}

.box{
  width: 200px;
  height: 200px;
  border: solid 8px black;
  float: left;
}

.box:hover{
  background-color: rgba(77, 77, 77, .5);
}

.gameboard1{
  width:  648px;
  height: 216px;
  margin: auto;
}

.gameboard2{
  width:  648px;
  height: 216px;
  margin: auto;
}

.gameboard3{
  width:  648px;
  height: 216px;
  margin: auto;
}
