

body{
  color: rgba(30, 85, 179, 1);
  background-image: url(../image/wall.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.legendarybox{
  height: 270px;
  width: 545px;
  margin: auto;
  padding-bottom: 50px;
  background-image: url(../image/legendary.png);
  background-repeat: no-repeat;
}

.title{
  text-align: center;
}

.box{
  width: 200px;
  height: 200px;
  border: solid 8px black;
  float: left;
  font-size: 200px;
  font-family: fantasy;
}

.box:hover{
  background-color: rgba(77, 77, 77, .5);
}

.gameboard1{
  width:  648px;
  height: 216px;
  margin: auto;
}

.gameboard2{
  width:  648px;
  height: 216px;
  margin: auto;
}

.gameboard3{
  width:  648px;
  height: 216px;
  margin: auto;
}

.reset{
  border: 0;
  background: rgba(237, 141, 38, 1);
  color: white;
  width: 100px;
  height: 50px;
  font-size: 24px;
  font-weight: 100;
  right: 0;
  top: 90%;
  left: 0;
  margin: 0 auto;
  font-family: fantasy;
}

.reset:hover{
  background-color: rgba(138, 138, 138, .8)
}

#winnertext{
  font-size: 50px;
  margin: auto;
  font-family: fantasy;
}
